@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@keyframes test {
    0% {
        height: 100px;
    }

    100% {
        height: 100%;
    }
}

* {
    box-sizing: border-box;
}

html, body, main {
    width: 100%;
    min-height: 100vh;

    margin: 0px;
}

body {
    padding: 0px 25px;

    background-image: radial-gradient(circle at 50% 0%, black 27.5%, #E01A4F 50%, #F15946, #F9C22E, #53B3CB 300%);

    color: white;
}

/*
#E01A4F
#F15946
#F9C22E
#53B3CB
*/
header {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: auto;

    background-image: radial-gradient(circle at 0% 200%, #E01A4F, #F15946, #F9C22E, #53B3CB 150%);
    color: white;

    padding: 35px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    h3.title-start {
        font-size: 20px;

        margin: 0px;

        text-transform: uppercase;

        font-weight: 1000;
    }

    h1.main-title {
        margin: 0px;

        font-size: 57px;

        span {
            font-size: 30px;

            font-weight: 400;
        }
    }
}

h1, h2, h3, h4, h5, h6, li, p, span, button, a {
    font-family: "DM Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

main {
    padding: 0px 25px;
}

div.landing-container {
    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.section-container {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;


    margin: 20px 0px;

    border: 1px dashed red;

    border-radius: 8px;

    overflow: hidden;

    transition-duration: 1s;

    * {
        transition-property: all;
    }

    div.section-showcase {
        position: relative;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        overflow: hidden;

        transition-duration: 1s;

        h1.section-step {
            position: relative;

            width: 100px;
            height: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            font-size: 150px;

            color: lightgray;

            z-index: -1;

            transition-duration: 1s;
        }

        h3.section-title {
            font-size: 25px;
        }
    }

    div.section-content {
        position: relative;

        display: block;

        width: 100%;
        height: 100%;

        overflow: hidden;

        opacity: 1;

        transition-duration: 1s;
    }
}