@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@-webkit-keyframes page-links-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes page-links-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", serif;
}

p, span, a, label, input, button, select, option, ul, ol, li, tr, td, th {
  font-family: "Inter", serif;
}

table, tr, td, th {
  padding: 10px 15px;
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  text-align: center;
}

td:nth-child(2) {
  text-align: left;
}

span {
  display: block;
  font-weight: 900;
}
span.check::before {
  content: "✔";
  color: green;
}
span.cross::before {
  content: "✘";
  color: red;
}

html, body, main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
header div.header-container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div.header-container.left {
  width: 50%;
  padding-left: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header div.header-container.right {
  width: 50%;
  padding-right: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.sitemap-btn a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 22px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: black;
  text-decoration: none;
}
div.sitemap-btn a img {
  position: relative;
  top: 2px;
  width: 54px;
  height: 61px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
div.sitemap-btn a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}
div.sitemap-btn a:hover {
  color: gray;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

div.page-links {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-animation: page-links-fade-in 0.5s;
          animation: page-links-fade-in 0.5s;
  z-index: 1002;
}
div.page-links div.page-link {
  position: relative;
  width: 600px;
  z-index: 1002;
}
div.page-links div.page-link a {
  font-size: 54px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: black;
  text-decoration: none;
}
div.page-links div.page-link a:hover {
  color: gray;
}
div.page-links div.page-link.active a {
  color: rgb(78, 92, 250);
}
div.page-links div.page-link.active a:hover {
  color: rgb(194, 199, 255);
}

a.header-container-back-link {
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  width: 64px;
  height: 64px;
  font-size: 48px;
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 1003;
}
a.header-container-back-link:hover {
  color: gray;
}

h3.header-title {
  font-size: 22px;
}

main {
  position: relative;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main p {
  width: 50%;
}
main p a {
  text-decoration: none;
  color: rgb(78, 92, 250);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
main p a:hover {
  color: rgb(168, 174, 253);
}
main h1 {
  position: relative;
  font-size: 58px;
}
main h1::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -25px;
  width: 50%;
  height: 3px;
  background-color: rgb(78, 92, 250);
}
main h1.big-number::after {
  display: none;
}
main div.background-content {
  position: fixed;
  top: 40px;
  right: 0px;
  width: auto;
  height: 100%;
  z-index: -1;
}
main div.background-content h1.big-number {
  margin: 0px;
  font-size: 100vh;
  line-height: 100vh;
  color: #f1f1f1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}